src/pug/pages/about.pug
extends ../config/template
append config
    - NombSitio = "Nosotros"
prepend styles
block contenido

    // B A N N E R
    // ------------
    .about__banner
        .about__banner--container.container
            .about__header
                h2.about__header--title.secondary-title Brindamos servicios flexibles y escalables
                .about__header--franja
                    p.description Nuestros ambientes de trabajo están hechos a tu medida.
                .about__header--img.wow.fadeInUp
                    img(src="public/img/about/banner/img-2.jpg" alt="img")
            .about__img
                .about__img--container.img-1.wow.fadeInUp.delay-1
                    img(src="public/img/about/banner/img-1.jpg" alt="img")
                .about__img--container.img-2.wow.fadeInUp.delay-2
                    img(src="public/img/about/banner/img-3.jpg" alt="img")
    // M A I N
    // ------------
    main.main__about
        // -----------
        // -----------
        .main__about--reason
            .main__container.container
                .main__container--header
                    h2.secondary-title Tu espacio integral
                    p.description Puedes trabajar o reunirte con tus clientes en un solo lugar.
                .main__container--img.wow.fadeInUp
                    a(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk").fas.fa-play
        .main__about--call
           .main__call--container.container
               h2.secondary-title Te ofrecemos los mejores espacios
               .button
                    a(href="contact.html").hover-btn Contáctanos

about.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Smart Office Perú | Nosotros</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robotos" content="index,follow">
    <meta property="fb:app_id" content="">
    <meta name="description" content="Somos pioneros en integrar todos los servicios y la solución de espacios de trabajo en un solo lugar">
    <meta name="keywords" content="Coworking, oficinas, espacios, smart, múltiples ambientes, sala de capacitaciones, espacios  creativos">
    <link rel="icon" href="public/img/icon.png" sizes="96x96">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="https://s3.amazonaws.com/icomoon.io/114779/Socicon/style.css?9ukd8d">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
    <link rel="stylesheet" href="public/css/styles.css?update32">
  </head>
  <body>
    <header>
      <div class="header__contenedor container">
        <h1 class="header__contenedor--logotipo"><a href="index.html">Logo</a></h1>
        <div class="header__contenedor--icono" id="icon">
          <div class="icon-element"></div>
          <div class="icon-element"></div>
          <div class="icon-element"></div>
        </div>
        <nav id="nav">
          <ul class="nav__lista">
            <li class="nav__lista--item"><a class="item__link" href="index.html">Inicio</a></li>
            <li class="nav__lista--item"><a class="item__link" href="about.html">Nosotros</a></li>
            <li class="nav__lista--item"><a class="item__link" href="prices.html">Planes</a></li>
            <li class="nav__lista--item"><a class="item__link" href="ambients.html">Ambientes</a></li>
            <li class="nav__lista--item"><a class="item__link" href="blog.html">Blog</a></li>
            <li class="nav__lista--item"><a class="item__link" href="contact.html">Contacto</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- B A N N E R-->
    <!-- -------------->
    <div class="about__banner">
      <div class="about__banner--container container">
        <div class="about__header">
          <h2 class="about__header--title secondary-title">Brindamos servicios flexibles y escalables</h2>
          <div class="about__header--franja">
            <p class="description">Nuestros ambientes de trabajo están hechos a tu medida.</p>
          </div>
          <div class="about__header--img wow fadeInUp"><img src="public/img/about/banner/img-2.jpg" alt="img"></div>
        </div>
        <div class="about__img">
          <div class="about__img--container img-1 wow fadeInUp delay-1"><img src="public/img/about/banner/img-1.jpg" alt="img"></div>
          <div class="about__img--container img-2 wow fadeInUp delay-2"><img src="public/img/about/banner/img-3.jpg" alt="img"></div>
        </div>
      </div>
    </div>
    <!-- M A I N-->
    <!-- -------------->
    <main class="main__about">
      <!-- ------------->
      <!-- ------------->
      <div class="main__about--reason">
        <div class="main__container container">
          <div class="main__container--header">
            <h2 class="secondary-title">Tu espacio integral</h2>
            <p class="description">Puedes trabajar o reunirte con tus clientes en un solo lugar.</p>
          </div>
          <div class="main__container--img wow fadeInUp"><a class="fas fa-play" data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk"></a></div>
        </div>
      </div>
      <div class="main__about--call">
        <div class="main__call--container container">
          <h2 class="secondary-title">Te ofrecemos los mejores espacios</h2>
          <div class="button"><a class="hover-btn" href="contact.html">Contáctanos</a></div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer__contenedor container">
        <div class="footer__contenedor--informacion"><a class="logotipo" href="#inicio"><img src="public/img/logotipo-negativo.svg" alt="Logotipo"></a>
          <ul class="informacion__lista">
            <li class="informacion__lista--item"><a href="index.html">Inicio</a></li>
            <li class="informacion__lista--item"><a href="about.html">Nosotros</a></li>
            <li class="informacion__lista--item"><a href="prices.html">Planes</a></li>
            <li class="informacion__lista--item"><a href="ambients.html">Ambientes</a></li>
            <li class="informacion__lista--item"><a href="blog.html">Blog</a></li>
            <li class="informacion__lista--item"><a href="contact.html">Contacto</a></li>
            <li class="informacion__lista--item"><a class="socicon-facebook" href="#" target="_blank"></a></li>
            <li class="informacion__lista--item"><a class="socicon-youtube" href="#" taget="_blank"></a></li>
          </ul>
        </div>
        <div class="footer__contenedor--informacion">
          <p class="informacion__copy description">Copyright © Todos los Derechos Reservados</p>
          <p class="informacion__desarrollo description">Desarrollado por :<a href="https://chilcanoweb.com/" targe="_blank" rel="nofollow noopener">Chilcanoweb</a></p>
        </div>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script>new WOW().init();</script>
    <script src="public/js/main-min.js"></script>
  </body>
</html>
