src/pug/pages/ambients.pug
extends ../config/template
append config
    - NombSitio = "Ambientes"
prepend styles
block contenido

    // B A N N E R
    // -----------
    .ambients__banner
        .ambients__banner--container.container
            .ambients__left.wow.fadeInLeft
                .ambients__left--container
            .ambients__header
                h2.ambients__header--title.secondary-title Lorem ipsum dolor met modi.
                .ambients__header--franja
                    p.description Adipisicing elit. A beatae debitis illo rem, repellendus similique voluptates! Aperiam sint sit voluptatibus!
                    .franja__button
                        a(href="#ambients").hover-btn Nuestro ambientes
            .ambients__right.wow.fadeInRight.delay-1

    // MAIN
    // -----------
    main.main.main__ambients
        // -----------
        // -----------
        .ambients#ambients
            .ambients__container.container
                .ambients__container--header
                    h2.secondary-title Oficinas Individuales
                    p.description Dolor sit amet, consectetur adipisicing elit. Aliquid enim laboriosam nostrum numquam sapiente! Eaque.
                .ambients__container--grid
                    .ambients__img.wow.fadeInUp.delay-1
                        img(src="public/img/ambients/area-1/img-1.jpg" alt="Oficinas Individuales")
                    .ambients__img.wow.fadeInUp
                        img(src="public/img/ambients/area-1/img-2.jpg" alt="Oficinas Individuales")


                .ambients__container--header
                    h2.secondary-title Sala de Capacitaciones
                    p.description Dolor sit amet, consectetur adipisicing elit. Aliquid enim laboriosam nostrum numquam sapiente! Eaque.
                .ambients__container--grid.ambients__alt
                    .ambients__img.wow.fadeInUp
                        img(src="public/img/ambients/area-2/img-1.jpg" alt="Sala de Capacitaciones")
                    .ambients__img.wow.fadeInUp.delay-1
                        img(src="public/img/ambients/area-2/img-2.jpg" alt="Sala de Capacitaciones")


                .ambients__container--header
                    h2.secondary-title Áreas sociales
                    p.description Dolor sit amet, consectetur adipisicing elit. Aliquid enim laboriosam nostrum numquam sapiente! Eaque.
                .ambients__container--grid
                    .ambients__img.wow.fadeInUp.delay-1
                        img(src="public/img/ambients/area-3/img-1.jpg" alt="Áreas sociales")
                    .ambients__img.wow.fadeInUp
                        img(src="public/img/ambients/area-3/img-2.jpg" alt="Áreas sociales")

ambients.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Smart Office Perú | Ambientes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robotos" content="index,follow">
    <meta property="fb:app_id" content="">
    <meta name="description" content="Somos pioneros en integrar todos los servicios y la solución de espacios de trabajo en un solo lugar">
    <meta name="keywords" content="Coworking, oficinas, espacios, smart, múltiples ambientes, sala de capacitaciones, espacios  creativos">
    <link rel="icon" href="public/img/icon.png" sizes="96x96">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="https://s3.amazonaws.com/icomoon.io/114779/Socicon/style.css?9ukd8d">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
    <link rel="stylesheet" href="public/css/styles.css?update32">
  </head>
  <body>
    <header>
      <div class="header__contenedor container">
        <h1 class="header__contenedor--logotipo"><a href="index.html">Logo</a></h1>
        <div class="header__contenedor--icono" id="icon">
          <div class="icon-element"></div>
          <div class="icon-element"></div>
          <div class="icon-element"></div>
        </div>
        <nav id="nav">
          <ul class="nav__lista">
            <li class="nav__lista--item"><a class="item__link" href="index.html">Inicio</a></li>
            <li class="nav__lista--item"><a class="item__link" href="about.html">Nosotros</a></li>
            <li class="nav__lista--item"><a class="item__link" href="prices.html">Planes</a></li>
            <li class="nav__lista--item"><a class="item__link" href="ambients.html">Ambientes</a></li>
            <li class="nav__lista--item"><a class="item__link" href="blog.html">Blog</a></li>
            <li class="nav__lista--item"><a class="item__link" href="contact.html">Contacto</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- B A N N E R-->
    <!-- ------------->
    <div class="ambients__banner">
      <div class="ambients__banner--container container">
        <div class="ambients__left wow fadeInLeft">
          <div class="ambients__left--container"></div>
        </div>
        <div class="ambients__header">
          <h2 class="ambients__header--title secondary-title">Lorem ipsum dolor met modi.</h2>
          <div class="ambients__header--franja">
            <p class="description">Adipisicing elit. A beatae debitis illo rem, repellendus similique voluptates! Aperiam sint sit voluptatibus!</p>
            <div class="franja__button"><a class="hover-btn" href="#ambients">Nuestro ambientes</a></div>
          </div>
        </div>
        <div class="ambients__right wow fadeInRight delay-1"></div>
      </div>
    </div>
    <!-- MAIN-->
    <!-- ------------->
    <main class="main main__ambients">
      <!-- ------------->
      <!-- ------------->
      <div class="ambients" id="ambients">
        <div class="ambients__container container">
          <div class="ambients__container--header">
            <h2 class="secondary-title">Oficinas Individuales</h2>
            <p class="description">Dolor sit amet, consectetur adipisicing elit. Aliquid enim laboriosam nostrum numquam sapiente! Eaque.</p>
          </div>
          <div class="ambients__container--grid">
            <div class="ambients__img wow fadeInUp delay-1"><img src="public/img/ambients/area-1/img-1.jpg" alt="Oficinas Individuales"></div>
            <div class="ambients__img wow fadeInUp"><img src="public/img/ambients/area-1/img-2.jpg" alt="Oficinas Individuales"></div>
          </div>
          <div class="ambients__container--header">
            <h2 class="secondary-title">Sala de Capacitaciones</h2>
            <p class="description">Dolor sit amet, consectetur adipisicing elit. Aliquid enim laboriosam nostrum numquam sapiente! Eaque.</p>
          </div>
          <div class="ambients__container--grid ambients__alt">
            <div class="ambients__img wow fadeInUp"><img src="public/img/ambients/area-2/img-1.jpg" alt="Sala de Capacitaciones"></div>
            <div class="ambients__img wow fadeInUp delay-1"><img src="public/img/ambients/area-2/img-2.jpg" alt="Sala de Capacitaciones"></div>
          </div>
          <div class="ambients__container--header">
            <h2 class="secondary-title">Áreas sociales</h2>
            <p class="description">Dolor sit amet, consectetur adipisicing elit. Aliquid enim laboriosam nostrum numquam sapiente! Eaque.</p>
          </div>
          <div class="ambients__container--grid">
            <div class="ambients__img wow fadeInUp delay-1"><img src="public/img/ambients/area-3/img-1.jpg" alt="Áreas sociales"></div>
            <div class="ambients__img wow fadeInUp"><img src="public/img/ambients/area-3/img-2.jpg" alt="Áreas sociales"></div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer__contenedor container">
        <div class="footer__contenedor--informacion"><a class="logotipo" href="#inicio"><img src="public/img/logotipo-negativo.svg" alt="Logotipo"></a>
          <ul class="informacion__lista">
            <li class="informacion__lista--item"><a href="index.html">Inicio</a></li>
            <li class="informacion__lista--item"><a href="about.html">Nosotros</a></li>
            <li class="informacion__lista--item"><a href="prices.html">Planes</a></li>
            <li class="informacion__lista--item"><a href="ambients.html">Ambientes</a></li>
            <li class="informacion__lista--item"><a href="blog.html">Blog</a></li>
            <li class="informacion__lista--item"><a href="contact.html">Contacto</a></li>
            <li class="informacion__lista--item"><a class="socicon-facebook" href="#" target="_blank"></a></li>
            <li class="informacion__lista--item"><a class="socicon-youtube" href="#" taget="_blank"></a></li>
          </ul>
        </div>
        <div class="footer__contenedor--informacion">
          <p class="informacion__copy description">Copyright © Todos los Derechos Reservados</p>
          <p class="informacion__desarrollo description">Desarrollado por :<a href="https://chilcanoweb.com/" targe="_blank" rel="nofollow noopener">Chilcanoweb</a></p>
        </div>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script>new WOW().init();</script>
    <script src="public/js/main-min.js"></script>
  </body>
</html>
