blog-3.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Smart Office Perú | Blog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robotos" content="index,follow">
    <meta property="fb:app_id" content="">
    <meta name="description" content="Somos pioneros en integrar todos los servicios y la solución de espacios de trabajo en un solo lugar">
    <meta name="keywords" content="Coworking, oficinas, espacios, smart, múltiples ambientes, sala de capacitaciones, espacios  creativos">
    <link rel="icon" href="public/img/icon.png" sizes="96x96">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="https://s3.amazonaws.com/icomoon.io/114779/Socicon/style.css?9ukd8d">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
    <link rel="stylesheet" href="public/css/styles.css?update32">
  </head>
  <body>
    <header>
      <div class="header__contenedor container">
        <h1 class="header__contenedor--logotipo"><a href="index.html">Logo</a></h1>
        <div class="header__contenedor--icono" id="icon">
          <div class="icon-element"></div>
          <div class="icon-element"></div>
          <div class="icon-element"></div>
        </div>
        <nav id="nav">
          <ul class="nav__lista">
            <li class="nav__lista--item"><a class="item__link" href="index.html">Inicio</a></li>
            <li class="nav__lista--item"><a class="item__link" href="about.html">Nosotros</a></li>
            <li class="nav__lista--item"><a class="item__link" href="prices.html">Planes</a></li>
            <li class="nav__lista--item"><a class="item__link" href="ambients.html">Ambientes</a></li>
            <li class="nav__lista--item"><a class="item__link" href="blog.html">Blog</a></li>
            <li class="nav__lista--item"><a class="item__link" href="contact.html">Contacto</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- B L O G -->
    <!-- -------------->
    <div class="blog blog-new">
      <div class="blog__container container">
        <main class="blog__main"> 
          <div class="new__header">
            <h2 class="secondary-title new__title">No olvides el uso de Lorem Ipsum en tu día a día</h2>
            <time datetime="2008-02-14 20:00">14 Mayo 2019</time>
            <p class="new__bajada description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam perferendis sunt asperiores.</p>
          </div>
          <div class="new__main">
            <div class="new__main--info"><img src="public/img/blog/post-3/post-3.jpg" alt="Post 2">
              <p class="description blog__description">Dolor sit amet, consectetur adipisicing elit. Rem illum quaerat error dolorum, ipsam ipsa accusamus et veniam ea minima. Dolores ex voluptates, soluta perspiciatis hic asperiores ea autem expedita dignissimos, non, aliquid alias possimus accusamus iure maxime quaerat voluptatem ad. Iste minima et optio officiis quidem veritatis, totam tempora soluta quaerat necessitatibus ipsa neque aut odio tenetur amet id aliquam. </p>
              <p class="description blog__description">Porro cum vel expedita repellat illo reprehenderit libero aperiam ullam deleniti exercitationem delectus, maxime sunt dicta minima eveniet mollitia perspiciatis! Corrupti error harum, vitae sequi illo, eum dolore itaque fugit ab quasi vero id, quisquam exercitationem at. Fugit, harum.</p>
              <ul class="new__list">
                <li class="new__list--item">Lorem, ipsum dolor</li>
                <li class="new__list--item">Dolor sit amet</li>
                <li class="new__list--item">Consectetur adipisicing</li>
                <li class="new__list--item">Porro cum vel</li>
              </ul>
              <p class="description blog__description">Rem illum quaerat error dolorum, ipsam ipsa accusamus et veniam ea minima. Dolores ex voluptates, soluta perspiciatis hic asperiores ea autem expedita dignissimos, non, aliquid alias possimus accusamus iure maxime quaerat voluptatem ad. Iste minima et optio officiis quidem veritatis, totam tempora soluta quaerat necessitatibus ipsa neque aut odio tenetur amet id aliquam. Porro cum vel expedita repellat illo reprehenderit libero aperiam ullam deleniti exercitationem delectus, maxime sunt dicta minima eveniet mollitia perspiciatis! Corrupti error harum, vitae sequi illo, eum dolore itaque.</p>
              <div class="new__gallery"><a href="public/img/blog/post-3/img-1.jpg" data-fancybox="images"><img src="public/img/blog/post-3/img-1.jpg" alt=""></a><a href="public/img/blog/post-3/img-2.jpg" data-fancybox="images"><img src="public/img/blog/post-3/img-2.jpg" alt=""></a><a href="public/img/blog/post-3/img-3.jpg" data-fancybox="images"><img src="public/img/blog/post-3/img-3.jpg" alt=""></a><a href="public/img/blog/post-3/img-4.jpg" data-fancybox="images"><img src="public/img/blog/post-3/img-4.jpg" alt=""></a><a href="public/img/blog/post-3/img-5.jpg" data-fancybox="images"><img src="public/img/blog/post-3/img-5.jpg" alt=""></a></div>
            </div>
          </div>
        </main>
        <aside class="blog__aside"> 
          <div class="blog__aside--container">
            <div class="aside__header">
              <h4>Contáctanos</h4>
              <!--p.description Obten los beneficios de nuestro coworking-->
            </div>
            <form class="aside__form">
              <input type="text" name="nombre" placeholder="Nombre y Apellido">
              <input type="email" name="correo" placeholder="Correo">
              <input type="text" name="celular" placeholder="Teléfono">
              <select id="categoria">
                <option value="1">Elige tu plan</option>
                <option value="2">Plan 1</option>
                <option value="3">Plan 2</option>
                <option value="4">Plan 3</option>
                <option value="5">Plan 4</option>
                <option value="6">Plan 5</option>
              </select>
              <textarea name="mensaje" placeholder="No dudes en consultarnos alguna duda..."></textarea>
              <div class="aside__form--button"><a class="hover-btn" href="#">Reservar</a></div>
            </form>
          </div>
        </aside>
      </div>
    </div>
    <footer>
      <div class="footer__contenedor container">
        <div class="footer__contenedor--informacion"><a class="logotipo" href="#inicio"><img src="public/img/logotipo-negativo.svg" alt="Logotipo"></a>
          <ul class="informacion__lista">
            <li class="informacion__lista--item"><a href="index.html">Inicio</a></li>
            <li class="informacion__lista--item"><a href="about.html">Nosotros</a></li>
            <li class="informacion__lista--item"><a href="prices.html">Planes</a></li>
            <li class="informacion__lista--item"><a href="ambients.html">Ambientes</a></li>
            <li class="informacion__lista--item"><a href="blog.html">Blog</a></li>
            <li class="informacion__lista--item"><a href="contact.html">Contacto</a></li>
            <li class="informacion__lista--item"><a class="socicon-facebook" href="#" target="_blank"></a></li>
            <li class="informacion__lista--item"><a class="socicon-youtube" href="#" taget="_blank"></a></li>
          </ul>
        </div>
        <div class="footer__contenedor--informacion">
          <p class="informacion__copy description">Copyright © Todos los Derechos Reservados</p>
          <p class="informacion__desarrollo description">Desarrollado por :<a href="https://chilcanoweb.com/" targe="_blank" rel="nofollow noopener">Chilcanoweb</a></p>
        </div>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script>new WOW().init();</script>
    <script src="public/js/main-min.js"></script>
  </body>
</html>

src/pug/pages/blog-3.pug
extends ../config/template
append config
    - NombSitio = "Blog"
prepend styles
block contenido

    // B L O G 
    // ------------
    .blog.blog-new
        .blog__container.container
            main.blog__main 
                .new__header
                    h2.secondary-title.new__title No olvides el uso de Lorem Ipsum en tu día a día
                    time(datetime="2008-02-14 20:00") 14 Mayo 2019
                    p.new__bajada.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam perferendis sunt asperiores.
                .new__main
                    .new__main--info
                        img(src="public/img/blog/post-3/post-3.jpg", alt="Post 2")
                        p.description.blog__description Dolor sit amet, consectetur adipisicing elit. Rem illum quaerat error dolorum, ipsam ipsa accusamus et veniam ea minima. Dolores ex voluptates, soluta perspiciatis hic asperiores ea autem expedita dignissimos, non, aliquid alias possimus accusamus iure maxime quaerat voluptatem ad. Iste minima et optio officiis quidem veritatis, totam tempora soluta quaerat necessitatibus ipsa neque aut odio tenetur amet id aliquam. 
                        p.description.blog__description Porro cum vel expedita repellat illo reprehenderit libero aperiam ullam deleniti exercitationem delectus, maxime sunt dicta minima eveniet mollitia perspiciatis! Corrupti error harum, vitae sequi illo, eum dolore itaque fugit ab quasi vero id, quisquam exercitationem at. Fugit, harum.
                        ul.new__list
                            li.new__list--item Lorem, ipsum dolor
                            li.new__list--item Dolor sit amet
                            li.new__list--item Consectetur adipisicing
                            li.new__list--item Porro cum vel
                        p.description.blog__description Rem illum quaerat error dolorum, ipsam ipsa accusamus et veniam ea minima. Dolores ex voluptates, soluta perspiciatis hic asperiores ea autem expedita dignissimos, non, aliquid alias possimus accusamus iure maxime quaerat voluptatem ad. Iste minima et optio officiis quidem veritatis, totam tempora soluta quaerat necessitatibus ipsa neque aut odio tenetur amet id aliquam. Porro cum vel expedita repellat illo reprehenderit libero aperiam ullam deleniti exercitationem delectus, maxime sunt dicta minima eveniet mollitia perspiciatis! Corrupti error harum, vitae sequi illo, eum dolore itaque.
                        .new__gallery
                            a(href="public/img/blog/post-3/img-1.jpg" data-fancybox='images')
                                img(src="public/img/blog/post-3/img-1.jpg", alt="")
                            a(href="public/img/blog/post-3/img-2.jpg" data-fancybox='images')
                                img(src="public/img/blog/post-3/img-2.jpg", alt="")
                            a(href="public/img/blog/post-3/img-3.jpg" data-fancybox='images')
                                img(src="public/img/blog/post-3/img-3.jpg", alt="")
                            a(href="public/img/blog/post-3/img-4.jpg" data-fancybox='images')
                                img(src="public/img/blog/post-3/img-4.jpg", alt="")
                            a(href="public/img/blog/post-3/img-5.jpg" data-fancybox='images')
                                img(src="public/img/blog/post-3/img-5.jpg", alt="")
            include ../components/aside-form
