contact.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Smart Office Perú | Contacto</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robotos" content="index,follow">
    <meta property="fb:app_id" content="">
    <meta name="description" content="Somos pioneros en integrar todos los servicios y la solución de espacios de trabajo en un solo lugar">
    <meta name="keywords" content="Coworking, oficinas, espacios, smart, múltiples ambientes, sala de capacitaciones, espacios  creativos">
    <link rel="icon" href="public/img/icon.png" sizes="96x96">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="https://s3.amazonaws.com/icomoon.io/114779/Socicon/style.css?9ukd8d">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
    <link rel="stylesheet" href="public/css/styles.css?update32">
  </head>
  <body>
    <header>
      <div class="header__contenedor container">
        <h1 class="header__contenedor--logotipo"><a href="index.html">Logo</a></h1>
        <div class="header__contenedor--icono" id="icon">
          <div class="icon-element"></div>
          <div class="icon-element"></div>
          <div class="icon-element"></div>
        </div>
        <nav id="nav">
          <ul class="nav__lista">
            <li class="nav__lista--item"><a class="item__link" href="index.html">Inicio</a></li>
            <li class="nav__lista--item"><a class="item__link" href="about.html">Nosotros</a></li>
            <li class="nav__lista--item"><a class="item__link" href="prices.html">Planes</a></li>
            <li class="nav__lista--item"><a class="item__link" href="ambients.html">Ambientes</a></li>
            <li class="nav__lista--item"><a class="item__link" href="blog.html">Blog</a></li>
            <li class="nav__lista--item"><a class="item__link" href="contact.html">Contacto</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- B A N N E R-->
    <!-- -------------->
    <div class="contact__banner">
      <div class="contact__banner--container container">
        <div class="contact__header">
          <div class="contact__header--container">
            <div class="container__header">
              <h2 class="secondary-title">Lorem ipsum dolor sit amet.</h2>
              <p class="description">Dolor sit amet, consectetur adipisicing elit. Assumenda ipsam itaque quaerat quod sequi.</p>
            </div>
            <form class="container__form">
              <input type="text" name="nombre" placeholder="Nombre y Apellido">
              <input type="email" name="empresa" placeholder="Correo">
              <input type="text" name="telefono" placeholder="Teléfono">
              <select id="categoria">
                <option value="1">Elige tu plan</option>
                <option value="2">Plan 1</option>
                <option value="3">Plan 2</option>
                <option value="4">Plan 3</option>
                <option value="5">Plan 4</option>
                <option value="6">Plan 5</option>
              </select>
              <textarea placeholder="No dudes en consultarnos alguna duda..."></textarea>
              <div class="button"><a class="hover-btn" href="#">Envíar</a></div>
            </form>
          </div>
        </div>
        <div class="contact__img wow fadeInRight"></div>
      </div>
    </div>
    <footer>
      <div class="footer__contenedor container">
        <div class="footer__contenedor--informacion"><a class="logotipo" href="#inicio"><img src="public/img/logotipo-negativo.svg" alt="Logotipo"></a>
          <ul class="informacion__lista">
            <li class="informacion__lista--item"><a href="index.html">Inicio</a></li>
            <li class="informacion__lista--item"><a href="about.html">Nosotros</a></li>
            <li class="informacion__lista--item"><a href="prices.html">Planes</a></li>
            <li class="informacion__lista--item"><a href="ambients.html">Ambientes</a></li>
            <li class="informacion__lista--item"><a href="blog.html">Blog</a></li>
            <li class="informacion__lista--item"><a href="contact.html">Contacto</a></li>
            <li class="informacion__lista--item"><a class="socicon-facebook" href="#" target="_blank"></a></li>
            <li class="informacion__lista--item"><a class="socicon-youtube" href="#" taget="_blank"></a></li>
          </ul>
        </div>
        <div class="footer__contenedor--informacion">
          <p class="informacion__copy description">Copyright © Todos los Derechos Reservados</p>
          <p class="informacion__desarrollo description">Desarrollado por :<a href="https://chilcanoweb.com/" targe="_blank" rel="nofollow noopener">Chilcanoweb</a></p>
        </div>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script>new WOW().init();</script>
    <script src="public/js/main-min.js"></script>
  </body>
</html>

src/pug/pages/contact.pug
extends ../config/template
append config
    - NombSitio = "Contacto"
prepend styles
block contenido

    // B A N N E R
    // ------------
    .contact__banner
        .contact__banner--container.container
           .contact__header
                .contact__header--container
                    .container__header
                        h2.secondary-title Lorem ipsum dolor sit amet.
                        p.description Dolor sit amet, consectetur adipisicing elit. Assumenda ipsam itaque quaerat quod sequi.
                    form.container__form
                        input(type='text' name='nombre' placeholder='Nombre y Apellido')
                        input(type='email' name='empresa' placeholder='Correo')
                        input(type='text' name='telefono' placeholder='Teléfono')
                        select#categoria
                            option(value='1') Elige tu plan
                            option(value='2') Plan 1
                            option(value='3') Plan 2
                            option(value='4') Plan 3
                            option(value='5') Plan 4
                            option(value='6') Plan 5
                        textarea(placeholder= 'No dudes en consultarnos alguna duda...')
                        .button
                            a(href="#").hover-btn Envíar
           .contact__img.wow.fadeInRight
