index.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Smart Office Perú | Inicio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robotos" content="index,follow">
    <meta property="fb:app_id" content="">
    <meta name="description" content="Somos pioneros en integrar todos los servicios y la solución de espacios de trabajo en un solo lugar">
    <meta name="keywords" content="Coworking, oficinas, espacios, smart, múltiples ambientes, sala de capacitaciones, espacios  creativos">
    <link rel="icon" href="public/img/icon.png" sizes="96x96">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="https://s3.amazonaws.com/icomoon.io/114779/Socicon/style.css?9ukd8d">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
    <link rel="stylesheet" href="public/css/styles.css?update32">
  </head>
  <body>
    <header>
      <div class="header__contenedor container">
        <h1 class="header__contenedor--logotipo"><a href="index.html">Logo</a></h1>
        <div class="header__contenedor--icono" id="icon">
          <div class="icon-element"></div>
          <div class="icon-element"></div>
          <div class="icon-element"></div>
        </div>
        <nav id="nav">
          <ul class="nav__lista">
            <li class="nav__lista--item"><a class="item__link" href="index.html">Inicio</a></li>
            <li class="nav__lista--item"><a class="item__link" href="about.html">Nosotros</a></li>
            <li class="nav__lista--item"><a class="item__link" href="prices.html">Planes</a></li>
            <li class="nav__lista--item"><a class="item__link" href="ambients.html">Ambientes</a></li>
            <li class="nav__lista--item"><a class="item__link" href="blog.html">Blog</a></li>
            <li class="nav__lista--item"><a class="item__link" href="contact.html">Contacto</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- B A N N E R-->
    <!-- -------------->
    <div class="banner">
      <div class="banner__container container">
        <div class="banner__container--copy">
          <h2 class="banner__title">Tú empresa, tú espacio</h2>
          <!-- Trabaja cómodo y  contento.-->
          <!-- Cada lugar está pensando en tí.-->
          <div class="banner__button"><a class="hover-btn" href="#about">Más información</a></div>
        </div>
      </div>
      <ul class="banner__extras">
        <li class="banner__extras--item"><a href="#space"><img src="public/img/home/banner/space-1.jpg" alt="Oficinas Individuales">
            <div class="space"><span>Oficinas Individuales</span></div></a></li>
        <li class="banner__extras--item"><a href="#space"><img src="public/img/home/banner/space-2.jpg" alt="Sala de Capacitaciones">
            <div class="space"><span>Sala de Capacitaciones</span></div></a></li>
        <li class="banner__extras--item"><a href="ambients.html"><img src="public/img/home/banner/space-3.jpg" alt="Áreas sociales">
            <div class="space"><span><i class="fas fa-times"></i>Más Espacios</span></div></a></li>
      </ul>
    </div>
    <!-- M A I N-->
    <main class="main">
      <!-- A B O U T-->
      <!-- -------------->
      <div class="about" id="about">
        <div class="about__container container"><img class="about__container--img wow fadeInUp" src="public/img/home/about/img-1.jpg" alt="Oficina Smart">
          <div class="about__container--info">
            <div class="about__header">
              <h2 class="about__header--title secondary-title">Encuentra tu espacio y cierra tus proyectos.</h2>
              <div class="about__header--franja">
                <p class="franja__description description">Somos pioneros en integrar todos los servicios y la solución de espacios de trabajo en un solo lugar, nuestros servicios están orientados a emprendedores y empresas que busquen una ventaja competitiva a través del respaldo de los profesionales y los beneficios que ofrece SMART OFFICE PERÚ.</p>
                <div class="franja__button"><a class="hover-btn" href="ambients.html">Nuestros Espacios</a></div>
              </div>
            </div><img class="about__img wow fadeInUp delay-1" src="public/img/home/about/img-2.jpg" alt="Oficina Smart">
          </div>
        </div>
      </div>
      <!-- C H A R A C T E R I S T I C S-->
      <!-- -------------->
      <div class="characteristics">
        <div class="characteristics__container container">
          <h2 class="characteristics__container--title secondary-title">Los mejores en...</h2>
          <div class="characteristics__container--grid">
            <div class="characteristics__item"><img src="public/img/home/characteristics/img-1.png" alt="Ubicación Céntrica">
              <p class="description">Ubicación centríca</p>
            </div>
            <div class="characteristics__item"><img src="public/img/home/characteristics/img-2.png" alt="Múltiples Ambientes">
              <p class="description">Múltiples Ambientes</p>
            </div>
            <div class="characteristics__item"><img src="public/img/home/characteristics/img-3.png" alt="Excelentes Precios">
              <p class="description">Excelentes Precios</p>
            </div>
            <div class="characteristics__item"><img src="public/img/home/characteristics/img-4.png" alt="Horarios Flexibles">
              <p class="description">Horarios Flexibles</p>
            </div>
          </div>
        </div>
      </div>
      <!-- S P A C E S-->
      <!-- -------------->
      <div class="spaces" id="space">
        <div class="spaces__container container">
          <div class="spaces__container--header">
            <h2 class="spaces__title secondary-title">Espacios que generan grandes ideas</h2>
          </div>
        </div>
        <div class="spaces__grid container">
          <div class="spaces__item"><img src="public/img/home/spaces/space-1.jpg" alt="Oficinas Individuales">
            <div class="spaces__item--info">
              <div class="info">
                <h3>Oficinas Individuales</h3>
                <p class="description">Elige el espacio que mejor te acomode.</p>
                <div class="spaces__button"><a class="hover-btn" href="ambients.html">Ver más</a></div>
              </div>
            </div>
          </div>
          <div class="spaces__item"><img src="public/img/home/spaces/space-2.jpg" alt="Sala de Capacitaciones">
            <div class="spaces__item--info">
              <div class="info">
                <h3>Sala de Capacitaciones</h3>
                <p class="description">Espacios para compartir conocimientos y experiencias.</p>
                <div class="spaces__button"><a class="hover-btn" href="ambients.html">Ver más</a></div>
              </div>
            </div>
          </div>
          <div class="spaces__item"><img src="public/img/home/spaces/space-3.jpg" alt="Áreas sociales">
            <div class="spaces__item--info">
              <div class="info">
                <h3>Áreas sociales</h3>
                <p class="description">Disfruta de ambientes lúdicos y áreas sociales.</p>
                <div class="spaces__button"><a class="hover-btn" href="ambients.html">Ver más</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- R E A S O N-->
      <!-- -------------->
      <div class="reason">
        <p class="reason__copy">Smart</p>
        <div class="reason__container container">
          <div class="reason__container--info">
            <div class="reason__header">
              <h2 class="reason__header--title secondary-title">Tu espacio integral para hacer negocios</h2>
              <div class="reason__header--franja">
                <p class="franja__description description">Nuestra oficina está ubicada en pleno corazón del Centro Financiero de San Isidro (Al frente de la Estación Canaval y Moreyra), punto estratégico para celebrar cualquier tipo de reunión o evento.</p>
                <div class="franja__button"><a class="hover-btn" href="#">Contáctanos</a></div>
              </div>
            </div>
          </div><img class="reason__container--img" src="public/img/home/reason/bg-img.jpg" alt="Edificio donde nos ubicamos">
        </div>
      </div>
      <!-- A C T I O N-->
      <!-- -------------->
      <div class="action">
        <div class="action__container container">
          <div class="action__container--header">
            <h2 class="action__title secondary-title">Cada lugar está pensado para tí.</h2>
          </div>
          <div class="action__container--play"><a class="fas fa-play" data-fancybox="" aria-label="Vídeo" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk"></a></div>
        </div>
      </div>
      <!-- C O N T A C T-->
      <!-- -------------->
      <div class="contact" id="contact">
        <div class="contact__container container">
          <h2 class="contact__container--title secondary-title">Contáctanos</h2>
          <form class="contact__container--form">
            <input type="text" name="nombre" placeholder="Nombre y Apellido">
            <input type="email" name="empresa" placeholder="Correo">
            <input type="text" name="telefono" placeholder="Teléfono">
            <select id="categoria">
              <option value="1">Elige tu plan</option>
              <option value="2">Plan 1</option>
              <option value="3">Plan 2</option>
              <option value="4">Plan 3</option>
              <option value="5">Plan 4</option>
              <option value="6">Plan 5</option>
            </select>
            <textarea placeholder="No dudes en consultarnos alguna duda..."></textarea>
            <div class="button"><a class="hover-btn" href="#">Envíar</a></div>
          </form>
        </div>
        <div class="contact__map">
          <iframe class="container" title="Ubicación de nuestras oficinas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62414.533557629016!2d-77.04783137597549!3d-12.118423266052218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5f77bed35255016e!2sOFICINA+ZTE!5e0!3m2!1ses-419!2spe!4v1560978386391!5m2!1ses-419!2spe"></iframe>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer__contenedor container">
        <div class="footer__contenedor--informacion"><a class="logotipo" href="#inicio"><img src="public/img/logotipo-negativo.svg" alt="Logotipo"></a>
          <ul class="informacion__lista">
            <li class="informacion__lista--item"><a href="index.html">Inicio</a></li>
            <li class="informacion__lista--item"><a href="about.html">Nosotros</a></li>
            <li class="informacion__lista--item"><a href="prices.html">Planes</a></li>
            <li class="informacion__lista--item"><a href="ambients.html">Ambientes</a></li>
            <li class="informacion__lista--item"><a href="blog.html">Blog</a></li>
            <li class="informacion__lista--item"><a href="contact.html">Contacto</a></li>
            <li class="informacion__lista--item"><a class="socicon-facebook" href="#" target="_blank"></a></li>
            <li class="informacion__lista--item"><a class="socicon-youtube" href="#" taget="_blank"></a></li>
          </ul>
        </div>
        <div class="footer__contenedor--informacion">
          <p class="informacion__copy description">Copyright © Todos los Derechos Reservados</p>
          <p class="informacion__desarrollo description">Desarrollado por :<a href="https://chilcanoweb.com/" targe="_blank" rel="nofollow noopener">Chilcanoweb</a></p>
        </div>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script>new WOW().init();</script>
    <script src="public/js/main-min.js"></script>
    <script src="public/js/superslides.js"></script>
  </body>
</html>

src/pug/pages/index.pug
extends ../config/template
append config
    - NombSitio = "Inicio"
prepend styles
block contenido

    // B A N N E R
    // ------------
    .banner
        .banner__container.container
            .banner__container--copy
                h2.banner__title Tú empresa, tú espacio
                // Trabaja cómodo y  contento.
                // Cada lugar está pensando en tí.
                .banner__button
                    a(href="#about").hover-btn Más información
        ul.banner__extras
            li.banner__extras--item
                a(href="#space")
                    img(src="public/img/home/banner/space-1.jpg" alt="Oficinas Individuales")
                    .space
                        span Oficinas Individuales
            li.banner__extras--item
                a(href="#space")
                    img(src="public/img/home/banner/space-2.jpg" alt="Sala de Capacitaciones")
                    .space
                        span Sala de Capacitaciones
            li.banner__extras--item
                a(href="ambients.html")
                    img(src="public/img/home/banner/space-3.jpg" alt="Áreas sociales")
                    .space
                        span
                            i.fas.fa-times
                            | Más Espacios

    // M A I N
    main.main

        // A B O U T
        // ------------
        .about#about
            .about__container.container
                img(src="public/img/home/about/img-1.jpg" alt="Oficina Smart").about__container--img.wow.fadeInUp
                .about__container--info
                    .about__header
                        h2.about__header--title.secondary-title Encuentra tu espacio y cierra tus proyectos.
                        .about__header--franja
                            p.franja__description.description Somos pioneros en integrar todos los servicios y la solución de espacios de trabajo en un solo lugar, nuestros servicios están orientados a emprendedores y empresas que busquen una ventaja competitiva a través del respaldo de los profesionales y los beneficios que ofrece SMART OFFICE PERÚ.
                            .franja__button
                                a(href="ambients.html").hover-btn Nuestros Espacios
                    img(src="public/img/home/about/img-2.jpg" alt="Oficina Smart").about__img.wow.fadeInUp.delay-1

        // C H A R A C T E R I S T I C S
        // ------------
        .characteristics
            .characteristics__container.container
                h2.characteristics__container--title.secondary-title Los mejores en...
                .characteristics__container--grid
                    .characteristics__item
                        img(src="public/img/home/characteristics/img-1.png" alt="Ubicación Céntrica")
                        p.description Ubicación centríca
                    .characteristics__item
                        img(src="public/img/home/characteristics/img-2.png" alt="Múltiples Ambientes")
                        p.description Múltiples Ambientes
                    .characteristics__item
                        img(src="public/img/home/characteristics/img-3.png" alt="Excelentes Precios")
                        p.description Excelentes Precios
                    .characteristics__item
                        img(src="public/img/home/characteristics/img-4.png" alt="Horarios Flexibles")
                        p.description Horarios Flexibles

        // S P A C E S
        // ------------
        .spaces#space
           .spaces__container.container
               .spaces__container--header
                   h2.spaces__title.secondary-title Espacios que generan grandes ideas
           .spaces__grid.container
                .spaces__item
                    img(src="public/img/home/spaces/space-1.jpg" alt="Oficinas Individuales")
                    .spaces__item--info
                       .info
                           h3 Oficinas Individuales
                           p.description Elige el espacio que mejor te acomode.
                           .spaces__button
                                a(href="ambients.html").hover-btn Ver más
                .spaces__item
                   img(src="public/img/home/spaces/space-2.jpg" alt="Sala de Capacitaciones")
                   .spaces__item--info
                       .info
                           h3 Sala de Capacitaciones
                           p.description Espacios para compartir conocimientos y experiencias.
                           .spaces__button
                                a(href="ambients.html").hover-btn Ver más
                .spaces__item
                   img(src="public/img/home/spaces/space-3.jpg" alt="Áreas sociales")
                   .spaces__item--info
                       .info
                           h3 Áreas sociales
                           p.description Disfruta de ambientes lúdicos y áreas sociales.
                           .spaces__button
                                a(href="ambients.html").hover-btn Ver más

        // R E A S O N
        // ------------
        .reason
            p.reason__copy Smart
            .reason__container.container
                .reason__container--info
                    .reason__header
                        h2.reason__header--title.secondary-title Tu espacio integral para hacer negocios
                        .reason__header--franja
                            p.franja__description.description Nuestra oficina está ubicada en pleno corazón del Centro Financiero de San Isidro (Al frente de la Estación Canaval y Moreyra), punto estratégico para celebrar cualquier tipo de reunión o evento.
                            .franja__button
                                a(href="#").hover-btn Contáctanos
                img(src="public/img/home/reason/bg-img.jpg" alt="Edificio donde nos ubicamos").reason__container--img

        // A C T I O N
        // ------------
        .action
            .action__container.container
                .action__container--header
                    h2.action__title.secondary-title Cada lugar está pensado para tí.
                .action__container--play
                    a(data-fancybox="" aria-label='Vídeo' href="https://www.youtube.com/watch?v=_sI_Ps7JSEk").fas.fa-play

        // C O N T A C T
        // ------------
        include ../includes/contact


prepend script-final
    script(src="public/js/superslides.js")
