src/pug/pages/prices.pug
extends ../config/template
append config
    - NombSitio = "Planes"
prepend styles
block contenido

    // B A N N E R
    // ------------
    .prices__banner
        .prices__banner--container.container
            .prices__header
                h2.prices__header--title.secondary-title Somos tu mejor socio estratégico
                .prices__header--franja
                    p.description Apoyamos el crecimiento de los empremdedores positivos, por ello te brindamos diferentes planes para tu negocio.
                    .franja__button
                        a(href="#prices").hover-btn Nuestros planes
            .prices__images
                .prices__images--container.prices__images--left

                .prices__images--container.prices__images--right

    // P R I C E S
    //--------------
    main.main.main__prices
        // -----------
        // -----------
        .prices#prices
            .prices__container.container
                .prices__container--header
                    h2.secondary-title Plan a tu medida
                .prices__container--item.wow.fadeInUp
                    p.prices__title Plan 1
                    p.prices__cost desde
                        span $87
                    .prices__button
                        a(href="#contact").gradient-hover.hover-btn Adquirir ahora
                    ul#accordion.accordion
                        li.default.open
                            .link
                                | Características
                                i.fa.fa-chevron-down
                            ul.submenu
                                li
                                    i.check.fas.fa-check
                                    | Domicilio cercano
                                li
                                    i.check.fas.fa-check
                                    | Dolor sit amet
                                li
                                    i.check.fas.fa-check
                                    | Sit quale alter
                                li
                                    i.check.fas.fa-check
                                    | Met sit spn
                                li.list-lose
                                    i.check.fas.fa-times
                                    | Ipsum dolor met
                                li.list-lose
                                    i.check.fas.fa-times
                                    | Consectetur dolor
                                li.list-lose
                                    i.check.fas.fa-times
                                    | Dolor conectur is
                                li.list-lose
                                    i.check.fas.fa-times
                                    | Amet is check

                .prices__container--item.wow.fadeInUp.delay-1
                    p.prices__title Plan 2
                    p.prices__cost desde
                        span $153
                    .prices__button
                        a(href="#contact").gradient-hover.hover-btn Adquirir ahora
                    ul#accordion1.accordion
                        li.default.open
                            .link
                                | Características
                                i.fa.fa-chevron-down
                            ul.submenu
                                li
                                    i.check.fas.fa-check
                                    | Domicilio cercano
                                li
                                    i.check.fas.fa-check
                                    | Dolor sit amet
                                li
                                    i.check.fas.fa-check
                                    | Sit quale alter
                                li
                                    i.check.fas.fa-check
                                    | Met sit spn
                                li
                                    i.check.fas.fa-check
                                    | Ipsum dolor met
                                li.list-lose
                                    i.check.fas.fa-times
                                    | Consectetur dolor
                                li.list-lose
                                    i.check.fas.fa-times
                                    | Dolor conectur is
                                li.list-lose
                                    i.check.fas.fa-times
                                    | Amet is check
                .prices__container--item.wow.fadeInUp.delay-2
                    p.prices__title Plan 3
                    p.prices__cost desde
                        span $170
                    .prices__button
                        a(href="#contact").gradient-hover.hover-btn Adquirir ahora
                    ul#accordion2.accordion
                        li.default.open
                            .link
                                | Características
                                i.fa.fa-chevron-down
                            ul.submenu
                                li
                                    i.check.fas.fa-check
                                    | Domicilio cercano
                                li
                                    i.check.fas.fa-check
                                    | Dolor sit amet
                                li
                                    i.check.fas.fa-check
                                    | Sit quale alter
                                li
                                    i.check.fas.fa-check
                                    | Met sit spn
                                li
                                    i.check.fas.fa-check
                                    | Ipsum dolor met
                                li
                                    i.check.fas.fa-check
                                    | Consectetur dolor
                                li.list-lose
                                    i.check.fas.fa-times
                                    | Dolor conectur is
                                li.list-lose
                                    i.check.fas.fa-times
                                    | Amet is check
                .prices__container--item.wow.fadeInUp.delay-3
                    p.prices__title Plan 4
                    p.prices__cost desde
                        span $170
                    .prices__button
                        a(href="#contact").gradient-hover.hover-btn Adquirir ahora
                    ul#accordion3.accordion
                        li.default.open
                            .link
                                | Características
                                i.fa.fa-chevron-down
                            ul.submenu
                                li
                                    i.check.fas.fa-check
                                    | Domicilio cercano
                                li
                                    i.check.fas.fa-check
                                    | Dolor sit amet
                                li
                                    i.check.fas.fa-check
                                    | Sit quale alter
                                li
                                    i.check.fas.fa-check
                                    | Met sit spn
                                li
                                    i.check.fas.fa-check
                                    | Ipsum dolor met
                                li
                                    i.check.fas.fa-check
                                    | Consectetur dolor
                                li
                                    i.check.fas.fa-check
                                    | Dolor conectur is
                                li.list-lose
                                    i.check.fas.fa-times
                                    | Amet is check
                .prices__container--item.wow.fadeInUp.delay-4
                    p.prices__title Plan 5
                    p.prices__cost desde
                        span $170
                    .prices__button
                        a(href="#contact").gradient-hover.hover-btn Adquirir ahora
                    ul#accordion4.accordion
                        li.default.open
                            .link
                                | Características
                                i.fa.fa-chevron-down
                            ul.submenu
                                li
                                    i.check.fas.fa-check
                                    | Domicilio cercano
                                li
                                    i.check.fas.fa-check
                                    | Dolor sit amet
                                li
                                    i.check.fas.fa-check
                                    | Sit quale alter
                                li
                                    i.check.fas.fa-check
                                    | Met sit spn
                                li
                                    i.check.fas.fa-check
                                    | Ipsum dolor met
                                li
                                    i.check.fas.fa-check
                                    | Consectetur dolor
                                li
                                    i.check.fas.fa-check
                                    | Dolor conectur is
                                li
                                    i.check.fas.fa-check
                                    | Amet is check
        // P L U S
        // -------------
        .characteristics
            .characteristics__container.container
                h2.characteristics__container--title.secondary-title También te ofrecemos
                .characteristics__container--grid
                    .characteristics__item
                        img(src="public/img/prices/characteristics/img-1.png" alt="Wifi libre")
                        p.description Wifi
                    .characteristics__item
                        img(src="public/img/prices/characteristics/img-3.png" alt="Seguridad")
                        p.description Seguridad
                    .characteristics__item
                        img(src="public/img/prices/characteristics/img-4.png" alt="Café ilimitado")
                        p.description Áreas para compartir
                    .characteristics__item
                        img(src="public/img/prices/characteristics/img-2.png" alt="Horarios Flexibles")
                        p.description Café ilimitado
        // C O N T A C T
        // ------------
        include ../includes/contact

prices.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Smart Office Perú | Planes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robotos" content="index,follow">
    <meta property="fb:app_id" content="">
    <meta name="description" content="Somos pioneros en integrar todos los servicios y la solución de espacios de trabajo en un solo lugar">
    <meta name="keywords" content="Coworking, oficinas, espacios, smart, múltiples ambientes, sala de capacitaciones, espacios  creativos">
    <link rel="icon" href="public/img/icon.png" sizes="96x96">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="https://s3.amazonaws.com/icomoon.io/114779/Socicon/style.css?9ukd8d">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
    <link rel="stylesheet" href="public/css/styles.css?update32">
  </head>
  <body>
    <header>
      <div class="header__contenedor container">
        <h1 class="header__contenedor--logotipo"><a href="index.html">Logo</a></h1>
        <div class="header__contenedor--icono" id="icon">
          <div class="icon-element"></div>
          <div class="icon-element"></div>
          <div class="icon-element"></div>
        </div>
        <nav id="nav">
          <ul class="nav__lista">
            <li class="nav__lista--item"><a class="item__link" href="index.html">Inicio</a></li>
            <li class="nav__lista--item"><a class="item__link" href="about.html">Nosotros</a></li>
            <li class="nav__lista--item"><a class="item__link" href="prices.html">Planes</a></li>
            <li class="nav__lista--item"><a class="item__link" href="ambients.html">Ambientes</a></li>
            <li class="nav__lista--item"><a class="item__link" href="blog.html">Blog</a></li>
            <li class="nav__lista--item"><a class="item__link" href="contact.html">Contacto</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- B A N N E R-->
    <!-- -------------->
    <div class="prices__banner">
      <div class="prices__banner--container container">
        <div class="prices__header">
          <h2 class="prices__header--title secondary-title">Somos tu mejor socio estratégico</h2>
          <div class="prices__header--franja">
            <p class="description">Apoyamos el crecimiento de los empremdedores positivos, por ello te brindamos diferentes planes para tu negocio.</p>
            <div class="franja__button"><a class="hover-btn" href="#prices">Nuestros planes</a></div>
          </div>
        </div>
        <div class="prices__images">
          <div class="prices__images--container prices__images--left"></div>
          <div class="prices__images--container prices__images--right"></div>
        </div>
      </div>
    </div>
    <!-- P R I C E S-->
    <main class="main main__prices">
      <!-- ------------->
      <!-- ------------->
      <div class="prices" id="prices">
        <div class="prices__container container">
          <div class="prices__container--header">
            <h2 class="secondary-title">Plan a tu medida</h2>
          </div>
          <div class="prices__container--item wow fadeInUp">
            <p class="prices__title">Plan 1</p>
            <p class="prices__cost">desde<span>$87</span></p>
            <div class="prices__button"><a class="gradient-hover hover-btn" href="#contact">Adquirir ahora</a></div>
            <ul class="accordion" id="accordion">
              <li class="default open">
                <div class="link">Características<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                  <li><i class="check fas fa-check"></i>Domicilio cercano</li>
                  <li><i class="check fas fa-check"></i>Dolor sit amet</li>
                  <li><i class="check fas fa-check"></i>Sit quale alter</li>
                  <li><i class="check fas fa-check"></i>Met sit spn</li>
                  <li class="list-lose"><i class="check fas fa-times"></i>Ipsum dolor met</li>
                  <li class="list-lose"><i class="check fas fa-times"></i>Consectetur dolor</li>
                  <li class="list-lose"><i class="check fas fa-times"></i>Dolor conectur is</li>
                  <li class="list-lose"><i class="check fas fa-times"></i>Amet is check</li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="prices__container--item wow fadeInUp delay-1">
            <p class="prices__title">Plan 2</p>
            <p class="prices__cost">desde<span>$153</span></p>
            <div class="prices__button"><a class="gradient-hover hover-btn" href="#contact">Adquirir ahora</a></div>
            <ul class="accordion" id="accordion1">
              <li class="default open">
                <div class="link">Características<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                  <li><i class="check fas fa-check"></i>Domicilio cercano</li>
                  <li><i class="check fas fa-check"></i>Dolor sit amet</li>
                  <li><i class="check fas fa-check"></i>Sit quale alter</li>
                  <li><i class="check fas fa-check"></i>Met sit spn</li>
                  <li><i class="check fas fa-check"></i>Ipsum dolor met</li>
                  <li class="list-lose"><i class="check fas fa-times"></i>Consectetur dolor</li>
                  <li class="list-lose"><i class="check fas fa-times"></i>Dolor conectur is</li>
                  <li class="list-lose"><i class="check fas fa-times"></i>Amet is check</li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="prices__container--item wow fadeInUp delay-2">
            <p class="prices__title">Plan 3</p>
            <p class="prices__cost">desde<span>$170</span></p>
            <div class="prices__button"><a class="gradient-hover hover-btn" href="#contact">Adquirir ahora</a></div>
            <ul class="accordion" id="accordion2">
              <li class="default open">
                <div class="link">Características<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                  <li><i class="check fas fa-check"></i>Domicilio cercano</li>
                  <li><i class="check fas fa-check"></i>Dolor sit amet</li>
                  <li><i class="check fas fa-check"></i>Sit quale alter</li>
                  <li><i class="check fas fa-check"></i>Met sit spn</li>
                  <li><i class="check fas fa-check"></i>Ipsum dolor met</li>
                  <li><i class="check fas fa-check"></i>Consectetur dolor</li>
                  <li class="list-lose"><i class="check fas fa-times"></i>Dolor conectur is</li>
                  <li class="list-lose"><i class="check fas fa-times"></i>Amet is check</li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="prices__container--item wow fadeInUp delay-3">
            <p class="prices__title">Plan 4</p>
            <p class="prices__cost">desde<span>$170</span></p>
            <div class="prices__button"><a class="gradient-hover hover-btn" href="#contact">Adquirir ahora</a></div>
            <ul class="accordion" id="accordion3">
              <li class="default open">
                <div class="link">Características<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                  <li><i class="check fas fa-check"></i>Domicilio cercano</li>
                  <li><i class="check fas fa-check"></i>Dolor sit amet</li>
                  <li><i class="check fas fa-check"></i>Sit quale alter</li>
                  <li><i class="check fas fa-check"></i>Met sit spn</li>
                  <li><i class="check fas fa-check"></i>Ipsum dolor met</li>
                  <li><i class="check fas fa-check"></i>Consectetur dolor</li>
                  <li><i class="check fas fa-check"></i>Dolor conectur is</li>
                  <li class="list-lose"><i class="check fas fa-times"></i>Amet is check</li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="prices__container--item wow fadeInUp delay-4">
            <p class="prices__title">Plan 5</p>
            <p class="prices__cost">desde<span>$170</span></p>
            <div class="prices__button"><a class="gradient-hover hover-btn" href="#contact">Adquirir ahora</a></div>
            <ul class="accordion" id="accordion4">
              <li class="default open">
                <div class="link">Características<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                  <li><i class="check fas fa-check"></i>Domicilio cercano</li>
                  <li><i class="check fas fa-check"></i>Dolor sit amet</li>
                  <li><i class="check fas fa-check"></i>Sit quale alter</li>
                  <li><i class="check fas fa-check"></i>Met sit spn</li>
                  <li><i class="check fas fa-check"></i>Ipsum dolor met</li>
                  <li><i class="check fas fa-check"></i>Consectetur dolor</li>
                  <li><i class="check fas fa-check"></i>Dolor conectur is</li>
                  <li><i class="check fas fa-check"></i>Amet is check</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- P L U S-->
      <!-- --------------->
      <div class="characteristics">
        <div class="characteristics__container container">
          <h2 class="characteristics__container--title secondary-title">También te ofrecemos</h2>
          <div class="characteristics__container--grid">
            <div class="characteristics__item"><img src="public/img/prices/characteristics/img-1.png" alt="Wifi libre">
              <p class="description">Wifi</p>
            </div>
            <div class="characteristics__item"><img src="public/img/prices/characteristics/img-3.png" alt="Seguridad">
              <p class="description">Seguridad</p>
            </div>
            <div class="characteristics__item"><img src="public/img/prices/characteristics/img-4.png" alt="Café ilimitado">
              <p class="description">Áreas para compartir</p>
            </div>
            <div class="characteristics__item"><img src="public/img/prices/characteristics/img-2.png" alt="Horarios Flexibles">
              <p class="description">Café ilimitado</p>
            </div>
          </div>
        </div>
      </div>
      <!-- C O N T A C T-->
      <!-- -------------->
      <div class="contact" id="contact">
        <div class="contact__container container">
          <h2 class="contact__container--title secondary-title">Contáctanos</h2>
          <form class="contact__container--form">
            <input type="text" name="nombre" placeholder="Nombre y Apellido">
            <input type="email" name="empresa" placeholder="Correo">
            <input type="text" name="telefono" placeholder="Teléfono">
            <select id="categoria">
              <option value="1">Elige tu plan</option>
              <option value="2">Plan 1</option>
              <option value="3">Plan 2</option>
              <option value="4">Plan 3</option>
              <option value="5">Plan 4</option>
              <option value="6">Plan 5</option>
            </select>
            <textarea placeholder="No dudes en consultarnos alguna duda..."></textarea>
            <div class="button"><a class="hover-btn" href="#">Envíar</a></div>
          </form>
        </div>
        <div class="contact__map">
          <iframe class="container" title="Ubicación de nuestras oficinas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62414.533557629016!2d-77.04783137597549!3d-12.118423266052218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5f77bed35255016e!2sOFICINA+ZTE!5e0!3m2!1ses-419!2spe!4v1560978386391!5m2!1ses-419!2spe"></iframe>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer__contenedor container">
        <div class="footer__contenedor--informacion"><a class="logotipo" href="#inicio"><img src="public/img/logotipo-negativo.svg" alt="Logotipo"></a>
          <ul class="informacion__lista">
            <li class="informacion__lista--item"><a href="index.html">Inicio</a></li>
            <li class="informacion__lista--item"><a href="about.html">Nosotros</a></li>
            <li class="informacion__lista--item"><a href="prices.html">Planes</a></li>
            <li class="informacion__lista--item"><a href="ambients.html">Ambientes</a></li>
            <li class="informacion__lista--item"><a href="blog.html">Blog</a></li>
            <li class="informacion__lista--item"><a href="contact.html">Contacto</a></li>
            <li class="informacion__lista--item"><a class="socicon-facebook" href="#" target="_blank"></a></li>
            <li class="informacion__lista--item"><a class="socicon-youtube" href="#" taget="_blank"></a></li>
          </ul>
        </div>
        <div class="footer__contenedor--informacion">
          <p class="informacion__copy description">Copyright © Todos los Derechos Reservados</p>
          <p class="informacion__desarrollo description">Desarrollado por :<a href="https://chilcanoweb.com/" targe="_blank" rel="nofollow noopener">Chilcanoweb</a></p>
        </div>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script>new WOW().init();</script>
    <script src="public/js/main-min.js"></script>
  </body>
</html>
